.login {
  width: 70%;
  margin: 40px auto; 
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  border-radius: 5px;
}

.error{
  text-align: center;
  padding: 5px;
  border: 3px solid red;
  margin-bottom: 7px;
  border-radius: 10px;
}